.App {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 200px;
  max-height: 500px;
  border-radius: 2rem;
  background-color: #e5e5e5;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 1rem;
  margin-top: -10rem;
}
.App-body {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 1rem;
}
/* .App-body {
  display: flex;
} */
.button-style {
  border-radius: 1rem;
  padding: 0.5rem;
  border-color: #fca311;
}
.input-field {
  display: flex;
  justify-content: left;
}
.input-style {
  display: flex;
  box-sizing: border-box;
  background-color: transparent;
  border: solid 3px transparent;
  border-bottom: dotted 3px #fca311;
}
.list-button-style {
  border-radius: 1rem;
  border-color: #fca311;
  margin-left: 50%;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.list-button-style:hover {
  background-color: #fca311;
}
.list-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-style {
  background-color: white;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
}
.list-area {
  position: absolute;
  margin-left: -10rem;
  width: 40rem;
  height: auto;
  max-width: 800px;
  min-width: 200px;
  max-height: 500px;
  border-radius: 2rem;
  background-color: transparent;
}

.topic {
  font-size: 2rem;
  background-color: #fca311;
  margin-bottom: 1rem;
}
